:root {
    --dark-bg: #3a5e6c;
    --light-bg: #f3f3f3;
    --font-light: #f3f3f3;
    --font-lighter: #828282;
    --font-medium: #e3dac9;
    --font-dark: rgba(44, 62, 80, 1.0);
    --text-shadow: rgba(52, 73, 94, 0.5);
    --shadow: rgba(52, 73, 94, 0.3);

    --general-theme: #41B3A3;
    --dashboard-theme: #7DC2AD;
    --training-theme: #85CDCA;
    --about-theme: #C38D9E;
    --quit-theme: #e27d60;
    --highlight: #e8a87c;

}

@font-face { font-family: "Kyokasho"; src: url('../fonts/Kyokasho.otf'); }

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 1.6;
    color: #333;
    background-color: transparent;
    font-family: "Kyokasho", serif;
}

.window {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--light-bg);
}

.window-content {
    position: relative;
    flex: 1;
}

.selectable-text {
    cursor: text;
    -webkit-user-select: text;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.sidebar {
    background-color: var(--dark-bg);
    border: 0;
}

.draggable {
    -webkit-app-region: drag;
}

.disabled {
    opacity: 0.2;
    pointer-events: none;
}


/* List Group */
.media-object {
    height: 48px;
    user-select: none;
}

.media-object.pull-left {
    margin-right: 10px;
}

.media-object.pull-right {
    margin-left: 10px;
}

.media-body {
    overflow: hidden;
    user-select: none;
}

.list-group {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    user-select: none;
    text-shadow: 2px 2px 2px var(--text-shadow);
}

.list-group * {
    margin: 0;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group-item {
    padding: 17px;
    cursor: pointer;
    font-size: 18px;
    color: var(--font-light);
    width: 180px;
    transition: 0.2s;
}

.list-group-item:hover {
    background-color: var(--highlight);
    transition: 0.2s;
}

.list-group-item.active,
.list-group-item.selected {
    background-color: var(--highlight);
}

.nav-subtext {
    opacity: 0;
    transition: 0.2s;
    font-size: 14px;
}

.list-group-item:hover .nav-subtext {
    opacity: 0.8;
    transition: 0.2s;
}

.list-group-item.active .nav-subtext,
.list-group-item.selected .nav-subtext
{
    opacity: 0.8;
}

.list-group-header {
    padding: 10px;
}

.sub-container {
    display: inline-block;
    text-align: center;
    background-color: var(--light-bg);
    border-radius: 3px;
    box-shadow: 3px 3px 1px var(--shadow);
}

.sub-container-main {
    position: relative;
    top: 5%;
    height: 90%;
    width: 90%;
}

.sub-container-header {
    position: relative;
    top: 0;
    height: 48px;
    line-height: 44px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.sub-container-footer {
    padding: 6px;
    position: relative;
    top: 15%;
    height: 60%;
    width: 80%;
}

.container-head-text {
    float: left;
    display: inline-block;
    padding-left: 18px;
    margin: 2px 0 0;
    text-align: left;
    font-size: 24px;
    color: var(--font-light);
    text-shadow: 2px 2px 2px var(--text-shadow);
}

.sub-container-header img {
    float: left;
    display: inline-block;
    width: auto;
    height: 32px;
    margin-top: 8px;
    margin-left: 8px;
}

/* Splash */
#splash-container {
    width: 100%;
    height: 100%;
    display: inline-block;
    background: rgb(245,222,179);
    background: linear-gradient(90deg, rgba(245,222,179,1) 0%, rgba(245,222,179,1) 12%, rgba(0,212,255,1) 100%);
    user-select: none;
}

#splash-content {
    display: none;
    text-align: center;
    color: var(--font-light);
    font-size: 224px;
    line-height: 340px;
}

/* Primary content */
#primary-container {
    display: none;
}

/* Dashboard */
#dashboard-button:hover,
#dashboard-button.active{
    background-color: var(--dashboard-theme);
}

#dashboard-container {
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    background-color: var(--dashboard-theme);
}

#dashboard-top {
    margin-top: 2px;
    height: 82%;
}

#dashboard-header {
    background-color: var(--about-theme);
}

#dashboard-main {
    padding: 8px;
    text-align: center;
    height: 72%;
}

#dashboard-main-top {
    height: 65%;
    margin-bottom: 3px;
}

#dashboard-reps {
    display: inline-block;
    width: 30%;
    height: 100%;
}

#dashboard-reps-icon {
    width: 100%;
    height: 90px;
    margin-bottom: 8px;
}

#dashboard-reps-icon img {
    width: auto;
    height: 100%;
}

#dashboard-reps-value {
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
}

#dashboard-progress {
    display: inline-block;
    width: 65%;
    height: 100%;
}

#dashboard-progress-bar {
    margin-top: 9%;
}

#dashboard-progress-value {
    font-size: 16px;
    margin-right: 40px;
    text-align: right;
}

#dashboard-main-middle {
    height: 15%;
    margin-top: 16px;
    font-size: 16px;
    color: var(--font-lighter);
}

#dashboard-main-bottom {
    height: 15%;
    font-size: 16px;
    color: var(--font-lighter);
}

#dashboard-sources {
    font-size: 14px;
}

#dashboard-bottom {
    height: 15%;
}

#dashboard-regenerate-button {
    padding: 8px;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--dark-bg);
    color: var(--font-light);
    border-radius: 3px;
    height: 14px;
    line-height: 14px;
    width: 100px;
    transition: 0.2s;
    text-shadow: 2px 2px 2px var(--text-shadow);
}

#dashboard-regenerate-button:hover {
    background-color: var(--quit-theme);
    transition: 0.2s;
}

#dashboard-regenerate-label {
    display: inline-block;
    padding: 8px;
    font-size: 14px;
    color: var(--font-dark);
    height: 14px;
    line-height: 14px;
}

#dashboard-regenerate-switch {
    display: inline-block;
    padding-right: 6px;
}

/* Training */
#training-button:hover,
#training-button.active{
    background-color: var(--training-theme);
}

#training-container {
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    background-color: var(--training-theme);
}

#training-top {
    margin-top: 10px;
    height: 35%;
}

.training-button {
    display: inline-block;
    margin-top: 6px;
    margin-left: 12px;
    margin-right: 12px;
    height: 20px;
    line-height: 18px;
    border-radius: 3px;
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
    color: var(--font-light);
    background-color: var(--dark-bg);
    width: 190px;
    transition: 0.2s;
    text-shadow: 2px 2px 2px var(--text-shadow);
}

.training-button:hover {
    background-color: var(--about-theme);
    color: var(--font-light);
    transition: 0.2s;
}

.training-button.active {
    background-color: var(--about-theme);
    color: var(--font-light);
}

#training-buttons img {
    height: 48px;
    width: auto;
    display: inline-block;
    margin-top: 3px;
}

#training-header {
    background-color: var(--highlight);
}

#training-bottom {
    height: 60%;
}

#training-text {
    color: var(--font-dark);
    font-size: 24px;
    text-align: left;
    padding: 16px;
}

#training-remaining {
    position: absolute;
    bottom: 3px;
    right: 6px;
}

/* About */
#about-button:hover,
#about-button.active{
    background-color: var(--about-theme);
}

#about-container {
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    background-color: var(--about-theme);
    color: var(--font-light);
}

#about-header {
    background-color: var(--dashboard-theme);
}

#about-middle {
    height: 100%;
    border-radius: 3px;
}

#about-text {
    margin-top: 4px;
    font-size: 21px;
    color: var(--font-dark);
}

#about-text span {
    color: var(--quit-theme);
    font-size: 32px;
}

#about-email, #about-github {
    margin-top: 6px;
    font-size: 18px;
    color: var(--font-dark);
}

#about-email span {
    color: var(--training-theme);
    font-size: 32px;
}

#about-github span {
    color: var(--general-theme);
    font-size: 32px;
}

#about-credits {
    margin-top: 30px;
    font-size: 13px;
    color: var(--font-lighter);
}

/* Quit */
#quit-button:hover,
#quit-button.active{
    background-color: var(--quit-theme);
}

/* Pane */
.pane-group {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.pane {
    position: relative;
    flex: 1;

}
.pane:first-child {
    border-left: 0;
}

.pane-sm {
    max-width: 220px;
    min-width: 150px;
}

/* Toolbars */
#header {
    display: none;
}

.toolbar {
    min-height: 20px;
    background-color: var(--dark-bg);
    user-select: none;
}

.toolbar:before, .toolbar:after {
    display: table;
    content: " ";
}

.toolbar:after {
    clear: both;
}

.toolbar-header {
    -webkit-app-region: drag;
}

.toolbar-header .title {
    position: fixed;
    left: 10px;
    color: var(--font-light);
}

.title {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: default;
}

.toolbar-borderless {
    border-top: 0;
    border-bottom: 0;
}

.toolbar-actions {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-top: 4px;
    margin-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    -webkit-app-region: drag;
}

.toolbar-actions:before, .toolbar-actions:after {
    display: table;
    content: " ";
}

.toolbar-actions:after {
    clear: both;
}


/** Buttons **/
.btn {
    display: inline-block;
    padding: 2px 14px;
    margin: 0;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: default;
    background-image: none;
    border: 1px solid transparent;
    background-color: var(--dark-bg);
    color: var(--font-medium);
    -webkit-app-region: no-drag;
    user-select: none;
    transition: 0.2s;
}

.btn:hover {
    outline: none;
    box-shadow: none;
    background-color: var(--highlight);
    color: var(--font-dark);
    transition: 0.2s;
}

.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-app-region: no-drag;
}


/** Switches and bars **/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    background-color: var(--dark-bg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.slider:hover {
    background-color: var(--highlight);
    transition: 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 4px;
    background-color: var(--light-bg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: var(--highlight);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.progress-bar {
    border-radius: 3px;
    overflow: hidden;
    width: 90%;
}

.progress-bar span {
    display: block;
    border-radius: 3px;
}

.bar {
    background: var(--dark-bg);
    padding: 4px;
}

.progress {
    background: var(--highlight);
    color: #fff;
    padding: 10px;
    width: 0;
}
